:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-button-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}
/* Сброс */
.site-nav,
.filter ul,
.works ul,
.works a,
.footer ul {
  list-style-type: none;
  text-decoration: none;
}

/* Наведения и фокус */
.filter .button:hover,
.filter .button:focus {
  color: var(--primary-white-color);
}
.filter .button:hover,
.filter .button:focus,
.social .link:hover,
.social .link:focus {
  background-color: var(--accent-text-color);
}
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .contact:hover,
.site-nav .contact:focus {
  color: var(--accent-text-color);
}
/* Главная страница */
.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03px;
}
.logo .accent {
  color: var(--accent-text-color);
}

/* Навигация сайта*/
.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02px;
}
.site-nav .contact {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02px;
}

/* Кнопк фильта */
.filter .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-bg-button-color);
  border: none;
}

/* Контент страницы portfolio */
.works .title-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06px;
  color: var(--title-text-color);
}
.works .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: var(--primary-text-color);
}
.works .hf-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03px;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
/* Подвал */
.footer {
  color: #ffffff;
  background-color: #2f303a;
  font-weight: normal;
}
.footer .logo {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.address {
  color: rgb(255, 255, 255, 0, 6);
}
.address-text {
  color: var(--primary-white-color);
  font-style: normal;
}
.address .link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}
.copyright {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
