/* 
Шрифты: 
Raleway 700 
Roboto 400, 500, 700, 900
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/* Сброс */
.site-nav,
.features ul,
.activity ul,
.teams ul,
.clients ul,
.footer ul {
  list-style-type: none;
}

.site-nav,
.hero-text,
.features > ul,
.features .text,
.activity > ul,
.teams ul,
.clients > ul,
.address > ul,
.social > ul,
.footer-title,
.copyright p {
  margin: 0px;
  padding: 0px;
}

/* Наведения и фокус */
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .contact:hover,
.site-nav .contact:focus {
  color: var(--accent-text-color);
}
.features .link:hover,
.features .link:focus,
.teams .link:hover,
.teams .link:focus,
.clients .link:hover,
.clients .link:focus,
.social .link:hover,
.social .link:focus {
  background-color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.container {
  margin: 0 auto 94px auto;
  width: 1600px;
  padding: 0 200px;
  /* outline: 2px solid tomato; */
}

/* Главная страница */
.logo {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03px;
}
.logo .accent {
  color: var(--accent-text-color);
}

/* Навигация сайта*/

.header-nav,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  margin-right: 86px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02px;

  text-decoration: none;
}

.site-nav .item-contact:not(:last-child) {
  margin-right: 30px;
}

.item-conact {
  display: block;
}

.site-nav .contact {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02px;
}
/* Герой */
.hero {
  text-align: center;
}
.hero-text {
  /* color: var(--primary-white-color); */
  margin-bottom: 46px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06px;
  text-transform: uppercase;
}
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06px;
}

/* Контент */

.title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03px;
}
.title-text {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03px;

  text-transform: uppercase;
}
/* Наши преимущества */

.elements {
  display: flex;
  justify-content: space-between;
}

.features .item {
  flex-basis: 78px;
}

.features .link {
  padding: 25px 104px;

  background-color: #f5f4fa;

  border-radius: 4px;
}

.features .title-text {
  margin: 30px 0 10px;
}

.features .text {
}

/* Чем мы занимаемся */

.elements {
  display: flex;
  justify-content: space-between;
}

.activity .title-text {
  padding: 27px;

  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
  text-align: center;
}

/* Наша команда */

.teams {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.teams .item {
  width: 278px;
  text-align: center;
}

.teams .title-text {
  margin-top: 30px;
  margin-bottom: 10px;
}

.teams .elements .elements {
  justify-content: center;
}

.teams .link,
.social .link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 20px;
}

/* Постоянные клиенты */

/* Подвал */

.footer {
  padding-top: 48px;

  font-weight: normal;
  color: #ffffff;

  background-color: #2f303a;
}

.footer .logo {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.address {
  margin-top: 10px;

  line-height: 1.7;
  color: rgb(255, 255, 255, 0, 6);
}

.address-text {
  font-style: normal;
  color: var(--primary-white-color);
}

.address .link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03px;
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

.footer-title {
  margin-bottom: 21px;

  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}

.copyright {
  margin-top: 28px;
  padding-top: 18px;
  padding-bottom: 21px;

  text-align: center;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
